:root {
  --fontBebas: 'Times New Roman', Times, serif;
  --fontAntonio: 'Times New Roman', Times, serif;
}
body {
  background-color: black;
  color: white;
  width: 80%;
  margin: auto;
}
.container_barra {
  background-color: black;
  width: 100% !important;
}
.barra_navegacion {
  width: 80%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  position: fixed;
  background-color: black;
  align-items: center;
}

.container_logo {
  width: 5rem;
  height: 5rem;
  align-items: center;
  display: flex;
}
.svg_dwn {
  width: 1.8rem;
  height: 1.8rem;
}
.logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

nav {
  display: flex;
  gap: 2rem;
  align-items: center;
}
header {
  padding-bottom: 30px;
  border-bottom: 5px solid white;
  padding-top: 90px;
}
.presentacion {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  width: 100%;
}
.descripcion {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}
.conatiner_imagen_jael {
  width: 35rem;
  height: 30rem;
  margin: auto;
}
.contacts {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 20px;
}
.social {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  gap: 8px;
}
.linkedin {
  background-color: #0511f2;
  border: 0;
}
.social_logo {
  width: 2rem;
  height: 2rem;
}
.github {
  background-color: black;
}
.foto_jael {
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
  border-radius: 123px 12px 32px 27px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn_cv {
  width: 75px;
}
.cv {
  display: flex;
  font-size: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.btn_projects {
  border: 0;
  border-radius: 12px;
  background-color: #0511f2;
}

.name {
  background: #ccc;
  background: linear-gradient(
    to bottom right,
    #f2527d,
    #d936a0,
    #f249d6,
    #18d9d9
  );
  line-height: 115%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 70px;
  font-family: var(--fontBebas);
  margin-bottom: 0;
}
@media (max-width: 1280px) {
  .name {
    margin: 0px;
    margin-top: 30px;
  }
}
.rol {
  font-size: 40px;
  font-family: var(--fontAntonio);
  margin: 10px 0px;
}
.programas {
  display: flex;
  justify-content: center;
  margin: 20px;
  font-family: var(--fontBebas);
  letter-spacing: 5px;
  font-size: 40px;
  border-bottom: 5px solid white;
  padding-bottom: 15px;
}
.lenguajes_programacion {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 90%;
  height: 13rem;
  border: 0px;
  border-radius: 20px;
  column-gap: 2rem;
  margin: auto;
}
.contenedor_lenguajes_info {
  background-color: #011140;
  border-radius: 14px;
  height: 14rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container_lenguaje {
  width: 10rem;
  height: 10rem;
  margin: auto;
  border: 0px;
  border-radius: 20px;
}
.lenguaje_img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.lenguaje_name {
  font-family: var(--fontBebas);
  font-size: 20px;
  letter-spacing: 3px;
}
.title_projects {
  border-bottom: 5px solid white;
  border-bottom: 5px solid white;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
.programas_h {
  border-bottom: 5px solid white;
  padding-bottom: 50px;
}
.proyectos_realizados {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
  row-gap: 3rem;
  margin: auto;
  border-bottom: 5px solid white;
  padding-bottom: 30px;
  margin-top: auto  ;
}
.proyecto {
  width: 18rem;
  height: 23rem;
  border: 0px;
  border-radius: 20px;
  background-color: #011140;
  margin: auto;
}
.container_img_proyecto {
  width: 100%;
  height: 200px;
}
.imagen_proyecto {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
.titulo_proyecto {
  color: white;
  margin-left: 15px;
  font-family: var(--fontAntonio);
}
.clasificacion {
  margin-left: 15px;
  font-family: var(--fontAntonio);
}
.proyecto button {
  margin-left: 15px;
}
.degradado {
  background: linear-gradient(70deg, #9126bf, #d97a43);
  border: 0px;
  border-radius: 12px;
}
.btn_see_project {
  height: 35px;
  width: 100px;
}

a {
  text-decoration: none;
  color: white;
  font-family: var(--fontBebas);
  font-size: 17px;
  letter-spacing: 2px;
  cursor: pointer;
}

.btn_code {
  background-color: #0511f2;
  border: 0px;
  border-radius: 12px;
  height: 35px;
  width: 70px;
}
@media (max-width: 1300px) {
  .proyectos_realizados {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 800px) {
  body {
    width: 90%;
  }
  .barra_navegacion {
    width: 90%;
  }

  .contacts {
    margin: auto;
    margin-bottom: 10px;
  }
  .lenguajes_programacion {
    grid-template-columns: repeat(2, 1fr);
    height: auto;
    row-gap: 2rem;
  }
  .proyectos_realizados {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    width: 90%;
  }
  .conatiner_imagen_jael {
    width: 18rem;
    height: 28rem;
  }
  .foto_jael {
    border-radius: 0px;
  }
}

@media (max-width: 420px) {
  .presentacion {
    grid-template-columns: repeat(1, 1fr);
  }

  .barra_navegacion {
    width: 100%;
  }
  .presentacion_foto {
    grid-row: 1/2;
  }
  .conatiner_imagen_jael {
    width: 10rem;
    height: 10rem;
  }
  .foto_jael {
    border-radius: 50%;
  }
  .lenguajes_programacion {
    grid-template-columns: repeat(2, 1fr);
  }
  .container_lenguaje {
    width: 7rem;
    height: 7rem;
  }
  .proyectos_realizados {
    column-gap: 1rem;

    width: 90%;
  }
  .proyecto {
    width: 10rem;
    height: 26.5rem;
  }
}
.skills_title {
  background: #ccc;
  background: linear-gradient(
    to bottom right,
    #f2527d,
    #d936a0,
    #f249d6,
    #18d9d9
  );
  font-family: system-ui;
  line-height: 115%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 50px;
  font-family: var(--fontBebas);
  margin-bottom: 0;
  margin-left: auto;
}
.habilidades {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: auto;
  width: 90%;
}
#menu{
    display: none;
}
.contenido {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  font-size: 16px;
  margin: auto;
}
.activo {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 88px;
  background: #211426;
  width: 70%;
  height: 100vh;
  gap: 3rem;
  padding-top: 40px;
  opacity: 1;
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.3);
}
@media (max-width: 800px) {
  .habilidades {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 420px) {
  .habilidades {
    grid-template-columns: repeat(1, 1fr);
  }
  nav {
    display: none;
  }
  
  #menu{
    display: block;
  }

  footer {
    flex-direction: column;
    justify-content: center;
  }
  .container_footer {
    margin: auto;
  }
  .title_ctc_ftr {
    width: 90%;
  }
  .contacto_footer {
    margin: auto;
  }
}
.more_abt_me {
  padding-bottom: 30px;
  border-bottom: 5px solid white;
}
.container_footer {
  width: 2rem;
  height: 2rem;
}
.title_ctc_ftr {
  border-bottom: 2px solid white;

  display: flex;
  justify-content: center;
}
footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.contacto_footer {
  margin-right: 30px;
}
.logo_footer {
  width: 1.5rem;
  height: 1.5rem;
}
.links-footer {
  display: flex;
  align-items: center;
  margin: auto;
  gap: 10px;
  margin-bottom: 10px;
}
.gmail {
  display: flex;
  justify-content: center;
  margin: auto;
  background-color: red;
  border: 0;
}
.interactivo{
    display: block;
    width: 3rem;
    height: 3rem;
    margin-right: 40px;
}
.desaparecer{
    display: none !important;
}
.education_title{
  background: linear-gradient(
    to bottom right,
    #f2527d,
    #d936a0,
    #f249d6,
    #18d9d9
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 4rem;
  margin: 0;
}
html{
  scroll-behavior: smooth;
}